.super-mario {
    width: 200px;
    position: absolute;
    left: 65px
}
.goomba {
    width: 100px;
    position: absolute;
    top: 371px;
    left: 60px;
}
.baloon {
    position: absolute;
    left: 340px;
    top: 150px;
}
.speach {
    top: 180px;
    left: 360px;
    position: absolute;
    font-size: 25px;
    z-index: 1;
}
.bowser {
    width: 200px;
    position: absolute;
    left: 600px;
    top: 340px;
}